.header{

}
.header .top-adv{
	height: 40px;
    background-color: #142662;
    overflow: hidden;
}
.header .top-adv img{
	width: 100%;
	height: 40px;
}
.header .nav{
	margin-top:13px;
	margin-bottom:13px;
	height: 49px;
}
.header .logo-name{
	position: relative;
	height: 49px;
}
.header .nav .logo{
	height:100%;
}
.header .logo-name span{
    height: 49px;
    display: inline-block;
    vertical-align: top;
    line-height: 67px;
	color: #393c99;
}
.header .nav .fr{
	margin-right: 125px;
	height: 39px;
    margin-top: 10px;
}
.header .nav .fr a{
	color: #393c99;
	cursor: pointer;
	text-decoration: none;
}
.header .nav .fr button{
	color: white;
	background-color: #1d2088;
	width: 140px;
	height: 31px;
    font-weight: 200;
    margin-right: 20px;
    padding: 0;

    -ms-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
.header .hr{
	height: 2px;
	background-color: #1d2088;
}

.body{
	margin-top: 20px;
}
.body .fl{
	width: 950px;
}
.body .search > span{
	color: #393c99;
}
.body .search .search-menu{
	border: 1px solid #ccc;
	padding: 10px;
	padding-top: 0;
	margin-top: 10px;
	width: 928px;
	min-height: 30px;
	font-size: 14px;
}

.body .search .search-menu .cond{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
	color: #a7a7a7;
	padding-top: 10px;
}
.body .search .search-menu .cond .c6262{
	color: #626262;
}
.body .search .search-menu .cond-last{
	border-bottom: none;
	padding-bottom: 0;
}
.body .search .search-menu .cond .fl{
	width: 75px;
	margin-left: 17px;
	padding:2px 5px;
}
.body .search .search-menu .cond .fr{
	width: 820px;
    height: 26px;
    overflow: hidden;
    position: relative;
}
.body .search .search-menu .cond .fr.more-model{
	width: 777px;
	padding-right: 43px;
}

.body .search .search-menu .cond .fr .more{
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	line-height: 26px;
}
.body .search .search-menu .cond .fr li{
	float: left;
	padding:2px 8px;
	margin-right: 14px;
	border: 1px solid white;
	height: 20px;
}
.body .search .search-menu .cond .fr li.active{
	border: 1px solid #ccc;
    font-size: 13px;
	line-height: 20px;
}
.body .searchAdv{
	padding: 20px 0;
}
.body .searchAdv img{
	height: 80px;
	width: 100%;
}

.body .dataList li{
	margin-right: 20.5px;
	float: left;
	margin-bottom: 20.5px;
}
.body .dataList li.mr0{
	margin-right: 0;
}
.body .dataList .item{
	width: 220px;
	border: 1px solid #ccc;
}
.body .dataList .item img{
	width: 220px;
	height: 150px;
    vertical-align: top;
}
.body .dataList .item .desc{
	border-top: 1px solid #ccc;
}
.body .dataList .item .desc p{
	margin: 20px 30px;
	margin-bottom: 10px;
	height: 42px;
	overflow: hidden;
	color: #626262;
}
.body .dataList .item .desc div{
	margin:0 30px;
	margin-bottom: 20px;
	color: #898989;
}

.body .searchPager{
	height: 35px;
	margin: 10px 0 30px 0;
}
.body .searchPager .pagination{
	margin: 0 auto;
    display: table;
}
.body .searchPager .pagination>li{
	float: left;
}
.body .searchPager .pagination>li a,
.body .searchPager .pagination>li span
{
	cursor: pointer;
	background-color:white;
	color: #626262;
    padding: 8px 12px;
}
.body .searchPager .pagination>li.active a{
	border-color:#ddd;
	background-color: #1d2088;
	color: white;
}
.body .searchPager .pagination>li:last-child{
	cursor: pointer;
}
.body .searchPager .pagination>li:nth-child(1).active a,
.body .searchPager .pagination>li:nth-child(2).active a,
.body .searchPager .pagination>li:nth-last-child(3).active a,
.body .searchPager .pagination>li:nth-last-child(4).active a
{
	color: #ccc;
	background-color: white;
}


.body .pageAdv a{
	float: left;
}
.body .pageAdv a.c{
	margin: 0 29.5px;
}
.body .pageAdv a img{
	width: 295px;
	height: 200px;
    border: 1px solid #ccc;
}
.body .fr.advs{
	vertical-align: top;
}
.body .fr.advs .item{
	margin-bottom: 20px;
}
.body .fr.advs .item span{
	font-size: 20px;
	display: block;
	color: #393c99;
	margin-bottom: 10px;
}
.body .fr.advs .item img{
	width: 200px;
	height: 300px;
}

.footer{
	min-width: 1180px;
	max-width: 96%;

	border-top:1px solid #ccc;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

.footer .advisorys{
	padding: 45px 0;
	position: relative;
}
.footer .advisorys div{
	float: left;
	color: #595757;
	font-size: 18px;
}
.footer .advisorys .item{
	width: 160px;
	height: 70px;
	margin-left: 40px;
	margin-right: 65px;
}
.footer .advisorys .item img{
	width: 70px;
	height: 70px;
	float: left;
}
.footer .advisorys .item p{
	float: right;
	padding-top: 5px;
}
.footer .advisorys .contact{
	position: relative;
	height: 70px;
	width: 225px;
	margin-left: 88px;
}
.footer .advisorys .contact span{
	position: absolute;
	left: 0;
	bottom: 0;
}
.footer .advisorys .contact span.qq{
	bottom: auto;
	top: 0;
}
.footer .partner{
	margin-bottom: 80px;
}
.footer .partner div{
	float: left;
	color: #595757;
	font-size: 18px;
}