html, body, div, span,input, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, thead, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;*/
}
* {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}


blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    border: none;
    outline:none;
}
button:focus{
  border: none;
}

/* custom */
a {
	color: #7e8c8d;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
}

li {
	list-style: none;
}

html,
body {
  width: 100%;
}
body {
	font-family: "Microsoft YaHei","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	font-size: 15px;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: rgba(125, 125, 125, 0.7);
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: rgba(125, 125, 125, 0.7);
	-webkit-border-radius: 6px;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
}
.container{
	width: 1180px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.color_blue1 {
  color: #169bd6;
}
.c_pointer {
  cursor: pointer;
}
.textAR {
  text-align: right;
}
.textAC {
  text-align: center;
}
.fontwb {
  font-weight: bold;
}
.positionRE {
  position: relative;
}
.nowrap {
  white-space: nowrap;
}
.hide {
  display: none;
}
.block {
  display: block;
}
/******重写bootstrap样式******/
.checkbox,
.radio {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}
.btn-default:hover {
  color: white;
  background-color: #169bd6;
  border-color: #7ebdce;
}
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus {
  color: white;
  background-color: #169bd6;
  border-color: #7ebdce;
  box-shadow: 0 0px 8px rgba(22, 155, 212, 0.575);
}
.modal.modal-vue-dialog {
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -85px;
  z-index: 1150;
}
.modal-open .modal.modal-vue-dialog {
  overflow: visible;
  width: 400px;
}
.modal-open .modal.modal-vue-dialog.bs-example-modal-md {
  overflow-y: auto;
  width: 100%;
  margin-left: -300px;
}
.modal-vue-dialog .modal-dialog {
  /*margin:0;*/
}
.modal-vue-dialog .modal-footer {
  text-align: center;
}
.modal-vue-dialog-root + .modal-backdrop {
  z-index: 1140;
}
.input-group .custom-form-control {
  padding: 0 0 0 12px;
  border: none;
  box-shadow: none;
}
.input-group .custom-form-control:last-child {
  padding-right: 12px;
}
.input-group-addon.custom-border-all {
  border: 1px solid #ccc;
}
.popover {
  font-family: inherit;
}
.popover.right {
  margin-left: 15px;
}
.right.sex .sex_modify {
  display: inline-block;
  margin-right: 85px;
}
.popover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  border: none;
}
.popover.right > .arrow {
  border-right-color: rgba(0, 0, 0, 0.1);
}
.popover.bottom > .arrow {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
/******重写bootstrap END样式******/
/*浮动*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
  clear: both;
}
/*toast*/
.v-toast {
  /*position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2060;
}
.toast-container {
  border-radius: 5px;
  position: fixed;
  z-index: 2060;
  top: 50%;
  left: 50%;
  padding: 20px;
  margin-top: -50px;
  margin-left: -50px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  text-align: center;
  color: #fff;
  transition: opacity .5s linear;
}
.toast-container .t_warning:before {
  color: #ffbe00;
}
.toast-container .t_success:before {
  color: #09bb07;
}
.toast-container .t_fail:before {
  color: #f76260;
}
.my-ani {
  opacity: 1;
  transition: opacity .5s linear;
}
.my-ani-hide {
  opacity: 0;
}
/*********icheckbox BEGIN************/
.icheckbox {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
.icheckbox input:checked + span.checkbox:before {
  content: "\e6b3";
  color: #006188;
}
.icheckbox input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
}
/*********icheckbox END************/
/*********iradio BEGIN************/
.iradio {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
.iradio input:checked + span.radio:before {
  content: "\e602";
}
.iradio input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
}
/*********iradio END************/
/*switch BEGIN*/
.one_switch {
  position: absolute;
  display: inherit;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  box-sizing: border-box;
  background-clip: padding-box;
  font-size: 17px;
  padding: 0 20px;
  border: none;
  overflow: visible;
  width: 44px;
  height: 25px;
  z-index: 0;
  text-align: left;
}
.one_switch__input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 44px;
  margin-top: -6px;
  top: 0px;
  left: 0px;
  transition: all 0.2s linear;
}
.one_switch__toggle {
  background-color: #cacaca;
  position: absolute;
  left: 0px;
  right: 0;
  border-radius: 30px;
  -ms-box-shadow: 1px 1px 1px #7d7d7d inset;
  -o-box-shadow: 1px 1px 1px #7d7d7d inset;
  box-shadow: 1px 1px 1px #7d7d7d inset;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  height: 25px;
  /*top: 50%;
    transform: translateY(-50%);*/
}
.one_switch__toggle:before {
  box-sizing: border-box;
  background-clip: padding-box;
  position: absolute;
  content: '';
  border-radius: 28px;
  height: 21px;
  width: 21px;
  background-color: #ededed;
  left: 1px;
  top: 2px;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.5, 1);
}
.one_switch__input:checked + .one_switch__toggle {
  background-color: #009ddc;
  -ms-box-shadow: 1px 1px 1px #006188 inset;
  -o-box-shadow: 1px 1px 1px #006188 inset;
  box-shadow: 1px 1px 1px #006188 inset;
}
.one_switch__input:checked + .one_switch__toggle:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}
.one_switch__input:not(:checked) + .one_switch__toggle:before {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.one_switch__input:disabled + .one_switch__toggle {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*one_switch END*/
